@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.fade-in {
    animation: fadeIn 0.5s ease-in;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  

  .pokemon-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pokemon-image {
    width: 400px;
    margin: 10px;
    transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
    filter: brightness(0) contrast(0); 
  }
  
  .pokemon-image.reveal {
    animation: zoomInOut 1.5s ease-in-out forwards;
  }
  
  @keyframes zoomInOut {
    0% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }